// $black: #313131
$black: #004d4d
$yellow: #FFE338
// $purple-light: #c77cdf
// $purple-light: #FCF2E9
// $purple: #9600C6E
$purple: #BF463B
// $magenta: #b500c5
$magenta: #A65C41
$blue: #7371dc
// $orange: #ffa126
$orange: #F29544
$orange-light: #f8b172

$brown-dark: #533930
$brown: #af6c54
$brown-light: #c79887

$cream: #F2BF91
$cream-light: #FBECDE

$red:  #BF463B